{% extends "base.twig" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            Профиль
        </div>
        <div class="card-body">
            <h3>Добро пожаловать, <b>{{ user.name }}</b></h3>
            <p><b>Дата регистрации: </b> {{ user.created_at }}</p>
            <a href="{{ routes['logout']}}" class="btn btn-primary">Выйти</a>
        </div>
    </div>
{% endblock %}
